/*

@media only screen and (max-width: 600px) {
    .div{
        background-color: aqua;
    }
}


font w 400 & 200
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;
*/
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("image/bg3.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
body::-webkit-scrollbar{
    width: 0;
}
.extra{
    height: 200px;
    width: 100%;
    background-color: transparent;
}
.extra1{
    height: 130px;
    width: 100%;
    background-color: transparent;
}
.header{
    width: 90%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoTxt{
    font-size: 20px;
    color: red;
    font-family: 'Raleway', sans-serif;

}
ul{
    display: flex;
    
    align-items: center;
}
li{
    list-style: none;
    margin-left: 20px;
}
a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;
}
a:hover{
    color: red;
}
.bars{
    font-size: 20px;
    color: white;
    font-weight: bold;
    display: none;
}
.introContainer{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.intro1{
    width: 100%;
}
#id1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
}
.intro{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 100%;
    margin-top: 90px;
}
.introBig{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 100%;
    margin-top: 20px;
    
}
.hireBtn , .cvBtn{
    color: white;
    background-color: #e91e63;
    color: #161435;
    width: 200px;
    line-height: 50px;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: .3s;
}
.hireBtn{
    margin-bottom: 30px;
}
.hireBtn:hover{
    background-color: #e77da1;
}
.cvBtn:hover{
    background-color: #e77da1;
}
/*--------------------*/
.menuList{
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    width: 0%;
    height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
    z-index: 1;
    transition: .3s;
    box-sizing: border-box;
}
.lst{
    width: 100%;
    line-height: 30px;
    margin: 5px 5px;
    text-align: center;
    color: white;
}
#arrow{
    font-size: 20px;
    color: white;
    margin-left: 5px;
    margin-bottom: 30px;
}
/*-------------second 2(about me)---------------*/
.sec2{
    
    background-color: #282b31;
}
.headline{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.headlineTxt{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #161435;
}
.infoContainer{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.pikContainer, .txtContainer{
    width: 100%;
    
}
.headTxt{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-left: 9%;
    color: white;
}
.mainTxt{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    width: 90%;
    margin-left: 9%;
    color: white;

}
#aboutMe{
    color: white;
}
hr{
    width: 90%;
    margin-left: 9%;
}
/*-------------section 3(Our team)---------------------*/
.sec3{
    background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.9));
    background-color: #606672;
}
.teamTxt{
    width: 90%;
    margin: 0 auto;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
}
.teamPikConatiner{
    width: 90%;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
}
.mem{
    width: 300px;
    height: 400px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.5);
}
.memPik{
    display: block;
    width: 100%;
    height: 300px;
}
.memTxt{
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;


}
.memInfo{
    text-align: center;
    width: 95%;
    margin: 5px auto 0;
}
/*----------------------section 4(My work)----------------*/
.sec4{
    background-color: white;
}

.imgContainer{
    position: relative;
    width: 300px;
    height: 350px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.5);
    
}
.cover{
    transition: .3s;
    background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,0,0,0.9));
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}
.livedemo{
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 30px;
    user-select: none;
    cursor: pointer;
    width: 50%;
    background-color: #282b31;
    border-radius: 5px;
    color: white;
    transition: .3s;
}
.livedemo:hover{
    background-color: transparent;
    border: 2px solid #161435;
    color: #161435;
    font-weight: bold;
}
.imgContainer:hover .cover{
    height: 100%;
    
}
#pik{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    display: flex;
    justify-content: space-evenly;
    padding:10px 0;
}
.imageConatiner768{
    display: none;
}
.imageConatiner432{
    display: none;
}
/*________________glass section---------------*/
.glass{
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("image/bg2.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.glassTxt{
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    padding-top: 100px;
    width: 95%;
    margin: 0 auto;
}
.glassBtn{
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    color: white;
    background-color: #e91e63;
    width: 200px;
    margin: 20px auto 0;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    user-select: none;
}
.glassBtn:hover{
    background-color: red;
    color: black;
}
/*----------------section 6(my skills)-----------------*/
.sec6{
    background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.9));
    background-color: #606672;
}
.skillTxtContainer{
    width: 90%;
    margin: 0 auto;
}
.skillTxt{
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.skillPikContainer{
    width: 100%;
}
.skillPik{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.sp{
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: white;
}
.logoImg{
    width: 100%;
    height: 80%;
}
.logoImgTxt{
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
}
/*---------log in------------------*/
/*-------fogure --------------*/
.loginpage{
    width: 100%;
    height: 620px;
    display: flex;
    position: relative;
}
.smallPart{
    width: 33%;
    background-color: #19e7dd;
    height: 100%;
}
.bigPart{
    width: 67%;
    background-color: white;
    height: 100%;
}
.logInContainer{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    display: flex;
    box-shadow: 8px 8px 32px 8px rgba(0,0,0,0.3);
    z-index: 1;

}
.sidebox{
    width: 29%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #19e7dd;
}
.mainBox{
    width: 69%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-------text style--------------*/
/*
font-family: 'Oswald', sans-serif;
*/
.sideBoxTxt{
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    width: 90%;
    margin-left: 10px;
    color: white;
}
.title{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-align: center;

}
.email, .pass{
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;

}
input{
    height: 25px;
    width: 100%;
}
input:focus{
    outline: none;
}
.loginBtn{
    text-align: center;
    width: 100%;
    line-height: 25px;
    font-size: 17px;
    font-weight: bold;
    background-color: #19e7dd;
    border-radius: 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    user-select: none;
}
.altBtn{
    position: absolute;
    right: 5px;
    top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: blue;
    cursor: pointer;
    user-select: none;
}
.altBtn:hover{
    text-decoration: underline;
}
#s, #log{
    display: none;
}
/*------------------footer-----------*/
.footerBody{
    background-color: #282b31;
    height: 300px;
    box-sizing: border-box;
}
.footer{
    width: 90%;
    margin: 0 auto;
}
.signContainer {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    padding-top: 70px;
    cursor: pointer;
}
.lastTxt{
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    margin-top: 20px;
    letter-spacing: 3px;
    word-spacing: 10px;
    user-select: none;
}
.secondLastTxt{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 17px;
    letter-spacing: 2px;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
}
















/*---------responsive web design------------*/
/*=======================================================================*/
/*-----------first page-------------*/
@media only screen and (max-width: 1065px) {
    .imgContainer{
        width: 250px;
        height: 300px;
    }
}
@media only screen and (max-width: 1010px) {
    .teamPikConatiner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mem{
        width: 80%;
        height: auto;
        margin-top: 20px;
        padding-bottom: 20px;
        box-sizing: border-box;
    }
}
@media only screen and (max-width: 895px) {
    .imgContainer{
        width: 200px;
        height: 250px;
        /*for sec 4*/
    }
}
@media only screen and (max-width: 795px) {
    .infoContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .headTxt{
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
        text-align: center;
    }
    .mainTxt{
        width: 100%;
        margin-left: 0;
    }
    hr{
        width: 100%;
        margin-left: 0;
    }
    .pikSubContainer{
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .pikSubContainer img{
        width: 90%;
    }
    
}
@media only screen and (max-width: 768px) {
    .menu{
        display: none;
    }
    .bars{
        display: block;
    }
    .imageConatiner{
        display: none;
    }
    .imageConatiner768{
        display: block;
    }
    .headline{
        height: 150px;
    }
    .headlineTxt{
        font-size: 20px;
    }

}
@media only screen and (max-width:700px){
    .sideBoxTxt{
        font-size: 30px;
    }
}
@media only screen and (max-width:670px){
    .sp{
        width: 150px;
        height: 150px;
    }
}
@media only screen and (max-width:600px){
    .introContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #id1{
        align-items: center;
        margin-top: 20px;
    }
    .introBig{
        font-weight: 300;
        text-align: center;
    }
    .intro{
        text-align: center;
    }
    .logoImgTxt{
        font-size: 10px;
    }
}
@media only screen and (max-width:525px){
    .mainTxt{
        font-size: 15px;
    }
    .teamTxt{
        font-size: 15px;
    }
    .imageConatiner432{
        display: block;
    }
    .imageConatiner{
        display: none;
    }
    .imageConatiner768{
        display: none;
    }
    .sideBoxTxt{
        font-size: 25px;
    }
    .skillTxt{
        font-size: 17px;
    }
    .sp{
        width: 100px;
        height: 100px;
    }
}
@media only screen and (max-width:425px){
    .signContainer{
        font-size: 20px;
    }
    .secondLastTxt{
        font-size: 10px;
        letter-spacing: normal;
    }
    .lastTxt{
        letter-spacing: 2px;
        word-spacing: normal;
        font-size: 10px;

    }
    .glassTxt{
        font-size: 17px;
        padding-top: 80px;
    }
    .glassBtn{
        width: 175px;
        font-size: 20pxpx;
        line-height: 30px;
    }
    .loginpage{
        flex-direction: column;
    }
    .smallPart{
        width: 100%;
        height: 33%;
    }
    .bigPart{
        width: 100%;
        height: 67%;
    }
    .logInContainer{
        flex-direction: column;
    }
    .mainBox{
        width: 100%;
        height: 69%;
    }
    .sidebox{
        width: 100%;
        height: 31%;
    }
    .logoImgTxt{
        font-size: 6px;
    }
}
@media only screen and (max-width:375px){
    .introBig{
        font-weight: 300;
        font-size: 45px;
        text-align: center;
    }
    .intro{
        font-size: 25px;
        text-align: center;
    }
    .bars{
        margin-left: 20px;
    }
}
@media only screen and (max-width:325px){
    .logInContainer{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        box-shadow: none;
    }
    .mainBox{
        width: 95%;
        margin: 0 auto;
    }
}
@media only screen and (max-width:320px) {
    .introBig{
        font-size: 20px;
    }
    .mem{
        width: 100%;
        box-shadow: 2px 4px 4px 1px rgba(0,0,0,0.2);
    }
    .sp{
        width: 80px;
        height: 80px;
    }
    .skillTxt{
        font-size: 15px;
    }
    .footerBody{
        height: 250px;
    }
}
@media only screen and (max-width:280px) {
    .memPik{
        height: 200px;
    }
    .hireBtn, .cvBtn{
        width: 180px;
        line-height: 30px;
        font-size: 20px;
    }
    .imgContainer{
        width: 180px;
        height: 230px;
    }
    .logoImgTxt{
        font-size: 4px;
    }
}
@media only screen and (max-width:250px){
    .imgContainer{
        width: 120px;
        height: 200px;
    }
    .hireBtn, .cvBtn{
        width: 150px;
        line-height: 25px;
        font-size: 15px;
    }
    .sp{
        width: 55px;
        height: 50px;
    }
}
